<h2 class="text-2xl font-semibold text-white mb-4">Comentarios</h2>

<div *ngIf="comments.length==0" class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Sin comentarios!</span> Todavía no hay comentarios en esta tarea.
  </div>
</div>

<div *ngIf="comments.length>0" class="flex flex-col">
  <div *ngFor="let comment of comments" class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 px-6 py-4">
    <p class="mb-2 text-gray-400">{{comment}}</p>
  </div>
</div>

<app-nuevo-comentario (onNewComment)="addComment($event)"></app-nuevo-comentario>
